<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.toolsbox.customer">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".TBApplication"
        android:allowBackup="false"
        android:appComponentFactory="ToolsBox"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:appComponentFactory">
        <activity android:name=".view.activity.login.forgot.NewPasswordActivity"></activity>
        <activity android:name=".view.activity.login.forgot.ForgotEmailActivity" />
        <activity android:name=".view.activity.login.forgot.ForgotPhoneActivity" />
        <activity android:name=".view.activity.login.forgot.ForgotOptionActivity" />
        <activity android:name=".view.activity.main.profile.PinCodeActivity" />
        <activity android:name=".view.activity.main.profile.VerifyPhoneActivity" />
        <activity android:name=".view.activity.main.profile.EditProfileActivity" />
        <activity android:name=".view.activity.main.home.ImagePreviewActivity" />
        <activity android:name=".view.activity.main.home.SeeAvailabilityActivity" />
        <activity
            android:name=".view.activity.login.StartupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.main.messages.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.main.profile.InputCCActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.main.profile.CreditCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.main.profile.ImageCropActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorBlue" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider444668609424861"
            android:exported="true" />

        <service android:name=".controller.service.FBMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name=".view.activity.main.home.CalendarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.main.home.IndustrySelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.main.jobs.DisputeJobActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.main.jobs.JobDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.main.market.AddReviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.main.market.ReviewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.login.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.login.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.login.SliderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.login.EnterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.main.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.main.market.ContractorResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.main.home.PostJobActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.main.jobs.AppliedJobActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.main.jobs.ProjectFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>